<div class="listing" >
<%@adm.each do |t| %>
 <table>
    <tr>
         <td colspan="4">
    <a href="/questions/view?id=<%= t.id %>" class="btn btn-sq-lg btn-success">
                <i class="fa fa-user fa-5x"></i><br/>
            
               <%= t.quiz_name %> <br>  </a>
               </td>
               
   </tr>
    </table>
<% end %>






            
          