<style>
  .btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

</style>


<div>
    <a href="/attempt/index" class="btn btn-sq-lg btn-info">Captain Planet</a>
    <a href="/attempt/index" class="btn btn-sq-lg btn-info">The chaostone</a>
    <a href="/attempt/index" class="btn btn-sq-lg btn-info">Jig-Sawtron</a>
    <a href="/attempt/index" class="btn btn-sq-lg btn-info">Etales</a>
</div>